<div class="container mb-5">
  <h1>Edit a bag</h1>

  <%= simple_form_for @bag do |f| %>
    <%= f.input :name %>
    <%= f.input :price%>
    <%= f.input :brand%>
    <%= f.input :description%>
    <%= f.input :images, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Submit Bag", class: "btn btn-secondary" %>
  <% end %>

</div>
