<div class="container">
<h1>Purshare</h1>
<p>Place to rent a bag.</p>
</div>

<div class="cards">
  <% @bags.each do |bag|%>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=bag.image%>)">
      <%= bag.name%>: <%= bag.price%> / <%= bag.brand%> / <%= bag.description%>
  </div>
  <% end%>
</div>
