<div class="container mb-5">
  <h1>Add a new bag</h1>

  <%= simple_form_for @bag do |f| %>
    <%= f.input :name %>
    <%= f.input :price%>
    <%= f.input :brand%>
    <%= f.input :description%>
    <%= f.input :image, as: :file %>
    <%= f.submit "Submit Bag", class: "btn btn-primary" %>
  <% end %>
</div>

