<h1>Bags#new</h1>
<p>Submit new bag to be on rent!</p>

<%= simple_form_for @bag do |f| %>
  <%= f.input :name %>
  <%= f.input :price%>
  <%= f.input :brand%>
  <%= f.input :description%>
  <%= f.input :image, as: :file %>
  <%= f.submit "Submit Bag", class: "btn btn-primary" %>
<% end %>