<div class="container for-grid my-5">
  <div class="bag_img">
    <%= cl_image_tag(@bag.images.first.key, width: 350, height: 400) %>
  </div>

  <div class="bag_desciption">
    <h1><%= @bag.name %></h1>
    <p><%= @bag.brand %></p>
    <p><%= @bag.description %></p>
    <p class="text-right">$ <%= @bag.price %> / day</p>
    <%= link_to "RENT", new_bag_booking_path(@bag), class: "btn btn-secondary" %>
  </div>
</div>

<div class="container multiple-bags-container">
<% @bag.images.each do |image|%>
  <% if image == @bag.images.first%>
  <% else%>
  <div class="bag_img">
    <%= cl_image_tag(image.key) %>
  </div>
  <%end%>
<%end%>
</div>
