<img src="<%= @bag.image %>" alt="Bag_image">
<h1><%= @bag.name %></h1>
<p><%= @bag.price %></p>
<p><%= @bag.brand %></p>
<p><%= @bag.description %></p>

<%= link_to "RENT", new_bag_booking_path(@bag) %>
