<div class="container">
  <h1 class="text-center dashboard my-5">Dashboard</h1>

  <h2 class="heading">User Information</h2>
  <div class="user-info">
    <div class="for-flex">
      <div>
        <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
        <p>Address: <%= current_user.address %></p>
      </div>
      <div>
        <p><%= link_to "Edit your information", edit_user_path, class: "text-right text-body"%></p>
      </div>
    </div>
  </div>

  <h2 class="heading">My Current Activity</h2>
  <div class="list mb-3" id="booking_list">
    <div class="dashboard_container" id="new_booking">
      <h4 class="text-center">Others' requests<br>pending my approval</h4>
      <div class="bags-card">
        <% @user.bags.each do |bag| %>
          <% bag.bookings.each do |booking| %>
            <% if booking.approved %>
              <div class="for-grid-bag">
                <div>
                  <p>Name: <%= booking.bag.name %></p>
                  <p>Price: $ <%= booking.bag.price %> / day</p>
                  <p>Start Date: <%= booking.start_date %></p>
                  <p>End Date: <%= booking.end_date %></p>
                  <p>Status: Approved</p>
                  <p>Contact customer: <%= booking.user.email %></p>
                </div>
                <div>
                  <%= cl_image_tag bag.images.first.key, width: 150, height: 150, crop: :fill %>
                </div>
              </div>
            <% else %>
              <div class="for-grid-bag">
                <div>
                  <p>Name: <%= booking.bag.name %></p>
                  <p>Price: $ <%= booking.bag.price %> / day</p>
                  <p>Start Date: <%= booking.start_date %></p>
                  <p>End Date: <%= booking.end_date %></p>
                  <p>Request from: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
                  <%= form_with(url: "/bookings/#{booking.id}/approvals", method: "post") do %>
                  <%= submit_tag("Approve") %>
                </div>
                <div>
                  <%= cl_image_tag bag.images.first.key, width: 150, height: 150, crop: :fill %>
                </div>
              </div>
            <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="dashboard_container" id="my_booking">
      <h4 class="text-center">My requests<br>pending others' approval</h4>
      <div class="bags-card">
        <% @user.bookings.each do |booking| %>
          <% if booking.approved %>
          <% else %>
            <div class="for-grid-bag">
              <div>
                <p>Start Date: <%= booking.start_date %></p>
                <p>End Date: <%= booking.end_date %></p>
                <p>Name: <%= booking.bag.name %></p>
                <p>Price: $ <%= booking.bag.price %> / day</p>
                <p>Status: Pending approval from the owner <%= booking.bag.user.first_name %> <%= booking.bag.user.last_name %></p>
              </div>
              <div>
                <%= cl_image_tag booking.bag.images.first.key, width: 150, height: 150, crop: :fill %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <h2 class="heading">My Past Activity</h2>
  <div class="list mb-5" id="bags_list">
    <div class="dashboard_container" id="bags-rented">
      <h4 class="text-center">Bags I rented</h4>
      <div class="bags-card">
        <% @user.bookings.each do |booking| %>
          <% if booking.approved %>
            <div class="for-grid-bag">
              <div>
                <p>Name: <%= booking.bag.name %></p>
                <p>Start Date: <%= booking.start_date %></p>
                <p>End Date: <%= booking.end_date %></p>
                <p>Rent from: <%= booking.bag.user.first_name %> <%= booking.bag.user.last_name %></p>
                <p>Price: $ <%= booking.bag.price %> / day</p>
              </div>
              <div>
                <%= cl_image_tag booking.bag.images.first.key, width: 150, height: 150, crop: :fill %>
              </div>
            </div>
          <% else %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="dashboard_container" id="bags-posted">
      <h4 class="text-center">Bags I posted</h4>
      <div class="bags-card">
        <% @user.bags.each do |bag| %>
          <div class="for-grid-bag">
            <div>
              <p>Name: <%= bag.name %></p>
              <p>Brand: <%= bag.brand %></p>
              <p class="mb-2">Price: $ <%= bag.price %> / day</p>
              <%= link_to "Edit this bag", edit_bag_path(bag), class: "btn btn-small my-1" %>
              <%= link_to "Delete this bag",
                          bag_path(bag),
                          method: :delete,
                          data: { confirm: "Are you sure?" },
                          class: "btn btn-small" %>
            </div>
            <div>
              <%= cl_image_tag bag.images.first.key, width: 150, height: 150, crop: :fill %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

