<div class="container">
  <h1>Dashboard</h1>
  <div class="user-info">
    <h3>User Information</h3> 
    <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
    <p>Address: <%= current_user.address %></p>
  </div>
  <hr>

  <div class="bags-list">
    <div class="bags-rented">
      <h3>List of bags I rented</h3> 
      <div class="bags-card">
       <% @bags_rent.each do |booking| %>
          <h5>Name: <%= booking.bag.name %></h5> 
          <p>Price: <%= booking.bag.price %></p>
          <p>Start Date: <%= booking.start_date %></p>
          <p>End Date: <%= booking.end_date %></p>
          <%= cl_image_tag booking.bag.image.key, width: 400, height: 300, crop: :fill %>
          <p>Description: <%= booking.bag.description %></p> 
        <% end %>
      </div>
    </div>
  </div>

  <hr>

  <div class="bags-list">
     <div class="bags-posted">
      <h3>List of bags I posted</h3> 
      <div class="bags-card">
        <% @bags_post.each do |bag| %>
          <h5>Name: <%= bag.name %></h5> 
          <p>Price: <%= bag.price %></p>
          <%= cl_image_tag bag.image.key, width: 400, height: 300, crop: :fill %>
          <p>Description: <%= bag.description %></p> 
        <% end %>
      </div>
    </div>
  </div>

  <hr>

  <div class="bags_list">
    <div class="bags-pending">
      <h3>List of pending requests</h3>
    </div>
  </div>
</div>