<div class="container">
  <h1>Dashboard</h1>

  <div class="container-dashboard">

    <div class="container user-info">
      <h3>User Information</h3>
      <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
      <p>Address: <%= current_user.address %></p>
    </div>

    <div class="container bags-list">
      <div class="bags-rented">
        <h3>List of bags I rented</h3>
        <div class="bags-card">
          <% @user.bookings.each do |booking| %>
            <% if booking.approved %>
              <p>Start Date: <%= booking.start_date %></p>
              <p>End Date: <%= booking.end_date %></p>
              <p>Name: <%= booking.bag.name %></p>
              <p>Price: <%= booking.bag.price %></p>
              <%= cl_image_tag booking.bag.image.key, width: 400, height: 300, crop: :fill %>
            <% else %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="bags-posted">
        <h3>List of bags I posted</h3>
        <div class="bags-card">
          <% @user.bags.each do |bag| %>
            <h5>Name: <%= bag.name %></h5>
            <p>Price: <%= bag.price %></p>
            <%= cl_image_tag bag.image.key, width: 400, height: 300, crop: :fill %>>
          <% end %>
        </div>
      </div>
      <div class="booking_list">
        <div class="bags-pending">
          <h3>List of pending requests</h3>
            <div class="bags-card">
              <% @user.bags.each do |bag| %>
                <% bag.bookings.each do |booking| %>
                  <% if booking.approved %>
                    <p>Name: <%= booking.bag.name %></p>
                    <p>Price: <%= booking.bag.price %></p>
                    <p>Start Date: <%= booking.start_date %></p>
                    <p>End Date: <%= booking.end_date %></p>
                    <p>Request from: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
                    <%= cl_image_tag bag.image.key, width: 400, height: 300, crop: :fill %>>
                  <% else %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
</div>
