<div class="container">

  <h1 class="text-center dashboard">Dashboard</h1>

  <div class="user-info">
    <div class="for-flex">
      <div>
        <h3>User Information</h3>
      </div>
      <div>
        <p><%= link_to "Edit your information", edit_user_path, class: "text-right text-body"%></p>
      </div>
    </div>
    <div>
    <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
    <p>Address: <%= current_user.address %></p>
    </div>
  </div>

  <div class="list mb-3" id="booking_list">

    <div class="dashboard_container" id="new_booking">
      <h3>List of others' requests pending my approval</h3>

      <div class="bags-card">
        <% @user.bags.each do |bag| %>
          <% bag.bookings.each do |booking| %>
            <div class="for-flex">
              <div>
              <% if booking.approved %>
                <p>Name: <%= booking.bag.name %></p>
                <p>Price: <%= booking.bag.price %> / day</p>
                <p>Start Date: <%= booking.start_date %></p>
                <p>End Date: <%= booking.end_date %></p>
                <p>Request from: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
                <%= form_with(url: "/bookings/#{booking.id}/approvals", method: "post") do %>
                  <%= submit_tag("Approve") %>
                <% end %>
              </div>
              <div>
                <%= cl_image_tag bag.image.key, width: 150, height: 150, crop: :fill %>
              </div>
            </div>
              <% else %>
              <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="dashboard_container" id="my_booking">
      <h3>List of my rental requests</h3>

      <div class="bags-card">
        <div class="for-flex">
          <% @user.bookings.each do |booking| %>
          <% if booking.approved %>
          <% else %>
          <div>
            <p>Start Date: <%= booking.start_date %></p>
            <p>End Date: <%= booking.end_date %></p>
            <p>Name: <%= booking.bag.name %></p>
            <p>Price: <%= booking.bag.price %> / day</p>
            <p>Pending approval from the owner <%= booking.bag.user.first_name %> <%= booking.bag.user.last_name %></p>
          </div>
          <div>
            <%= cl_image_tag booking.bag.image.key, width: 150, height: 150, crop: :fill %>
          </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="list mb-5" id="bags_list">

    <div class="dashboard_container" id="bags-rented">
      <h3>List of bags I rented</h3>

      <div class="bags-card">
        <div class="for-flex">
          <% @user.bookings.each do |booking| %>
            <% if booking.approved %>
              <div>
                <p>Name: <%= booking.bag.name %></p>
                <p>Start Date: <%= booking.start_date %></p>
                <p>End Date: <%= booking.end_date %></p>
                <p>Price: <%= booking.bag.price %> / day</p>
              </div>
              <div>
                <%= cl_image_tag booking.bag.image.key, width: 150, height: 150, crop: :fill %>
              </div>
            <% else %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="dashboard_container" id="bags-posted">
      <h3>List of bags I posted</h3>

      <div class="bags-card">
        <% @user.bags.each do |bag| %>
          <div class="for-flex">
            <div>
              <h5>Name: <%= bag.name %></h5>
              <p>Price: <%= bag.price %> / day</p>
              <%= link_to "Edit this bag", edit_bag_path, class: "text-body" %>
              <%= link_to "Delete this bag",
                          bag_path(bag),
                          method: :delete,
                          data: { confirm: "Are you sure?" },
                          class: "text-body" %>
            </div>
            <div>
              <%= cl_image_tag bag.image.key, width: 150, height: 150, crop: :fill %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
